<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="topnav" id="myTopnav" style="align-items: center">

    <a (click)="changePage('home')" class="active" href="#home" id="nav-home">Home</a>
    <a (click)="changePage('report')" href="#report" id="nav-report">Report Incident</a>
    <a (click)="changePage('dispatch')" href="#dispatch" id="nav-dispatch">Dispatch</a>
    <a (click)="changePage('workforce')" href="#workforce" id="nav-workforce">Workforce Management</a>

</div>

<div *ngIf="page === 'home'" class="container-fluid bg-dark" style="text-align: center">

    <h3 style="color: black; display: inline-block"> Welcome! </h3>

</div>

<div *ngIf="page === 'report'" class="container-fluid bg-dark" style="text-align: center">

    <div class="report">

        <br><br>

        <div class="form-group">
            <p>Location of Incident: </p>
            <input [(ngModel)]="this.location" class="form-control" id="location" type="text" style="width: 350px">
        </div>

        <br><br>

        <div class="form-group">
            <p>Type of Incident: </p>
            <select [(ngModel)]="this.type" class="form-control" id="type" type="text">
                <option value="poles"> Broken Poles & Conductors </option>
                <option value="transformers"> Damanged Transformers </option>
                <option value="fuse"> Blown Fuse </option>
            </select>
        </div>

        <br><br>

        <div class="form-group">
            <p>Status: </p>
            <select [(ngModel)]="this.status" class="form-control" id="description" type="text">
                <option value="new"> NEW </option>
                <option value="current"> IN PROGRESS </option>
                <option value="old"> COMPLETED </option>
            </select>
        </div>

        <br><br>

        <div class="form-group">
            <p>Equipment: </p>
            <input [(ngModel)]="this.equipment_needed" class="form-control" id="equipment" type="text" style="width: 350px">
        </div>

        <br><br>

        <div class="form-group">
            <p>Severity: </p>
            <select [(ngModel)]="this.severity" class="form-control" id="severity" type="text">
                <option value="low"> LOW </option>
                <option value="medium"> MEDIUM </option>
                <option value="high"> HIGH </option>
            </select>
        </div>

        <br><br>

        <div *ngIf="severity != null">
            <button (click)="makeNewReport()">Create</button>
        </div>

    </div>

</div>

<div *ngIf="page === 'dispatch'" style="text-align: center;">

<!--    Incident -->
    <div class="form-group">
        <p> Incident: </p>
        <select [(ngModel)]="this.incident_id" class="form-control" id="incident_id" type="text">
<!--            <option> {{type}} + ' at ' + {{location}}</option> -->
            <option> Blown Fuse at 9388-9982 Old Selma Rd, Montgomery, AL 36108 </option>
        </select>
    </div>

    <br><br>

<!--    Crew -->
    <div class="form-group">
        <p> Crew Assignment: </p>
        <select [(ngModel)]="this.selected_crew" class="form-control" id="selected_crew" type="text">
<!--            <option> {{crewname}} </option> -->
            <option> Rachel's super crew </option>
        </select>
    </div>

    <br><br>

<!--    Submit button -->
    <div *ngIf="this.selected_crew != null">
        <button (click)="assignCrew(incident_id, selected_crew)"> ASSIGN </button>
    </div>

</div>

<div *ngIf="page === 'workforce'" style="text-align: center;">

    <div class="card bg-danger">

        <h3> Rachel's Super Crew </h3>

        <div class="row">

            <div class="col">
                <p> Crew Specilizations / Equipment </p>
            </div>

            <div class="col">
                <p> [list of personnel on crew] </p>
            </div>

        </div>

        <button> EDIT </button>
        <button> DELETE </button>

    </div>

</div>
